<!doctype html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>{{ title or "Cinema Flow: Movie Ticket System" }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header>
    <h1><a href="{{ url_for('movies') }}">Cinema Flow</a></h1>
    <nav>
      <a href="{{ url_for('admin_add_movie_form') }}">Admin: Add Movie</a>
      <a href="{{ url_for('admin_add_showtime_form') }}">Admin: Add Showtime</a>
      <a href="{{ url_for('admin_view_bookings') }}">Admin: View Bookings</a>
    </nav>
  </header>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="flash">
        {% for msg in messages %}
          <div>{{ msg }}</div>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}

  <main class="container">
    {% block content %}{% endblock %}
  </main>
</body>
</html>